.right-bar{
    width: 20%; 
    height: 100%;
    position: fixed;
    right: 0;
    top: 5em;
    overflow: auto;
    border-left: 1px solid rgb(193 124 74);
    background-color: #f0ece7;
    padding-top: 1rem;
    min-height: 100vh;
}