.content-main{
    min-height: 100vh;
    overflow-y: auto;
    background-color: rgb(225, 228, 225);
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
    margin-top: 5em;
    justify-content: center;
    align-items: center;
}
.loader-container{
    background-color: rgb(202, 13, 148);
}

.post-list{
    padding: 2%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 1em;
}
.arrow{
    margin-bottom: 1em;
    background: linear-gradient(135deg, #eda85eff 0%, #d6846bff 100%);
    color: white;
    border-radius: 3px;
    z-index: 6;
}

.sorting{
    margin-top: 2em;
    padding: 0 2em;
}

.content-main hr{
    border-bottom: 1px solid rgb(206, 109, 49);
}

/* filter */
.filter {
    background-color: rgb(225, 191, 147);
    border-radius: 4px;
    border: 1px solid bisque;
    color: #333;
    cursor: pointer;
    padding: 6px 12px;
    transition: background-color 0.2s ease;
}

.filter:hover {
    background-color: rgb(205, 170, 130);
}

.filter.active {
    background-color: rgb(185, 150, 112);
    /* darker shade when active */
    color: white;
    border-color: rgb(150, 110, 80);
}

@media (max-width: 1024px) {
    .content-main {
        width: 100%;
    }

    .root{
    width: 50%;
    }
}