.main-content{
    padding-bottom: 5rem;
    padding: 1em;
    margin-left: 0%;
    margin-right: 10%;
    min-height: 100vh;
    overflow-y: auto;
    /* background-color: rgb(13, 13, 202); */
    width: 100vh;
}
.loader-container{
    background-color: rgb(202, 13, 148);
}

.post-list{
    margin-top: 5em;
}
.arrow{
    background-color: burlywood;
}