.cat {
    /* background-color: #cb7358; */
    background: linear-gradient(145deg, #dd974d 0%, #c27862 100%);
    margin-bottom: 0.5rem;
    border: 1.6px solid rgb(155, 102, 55);
    border-radius: 99px;
}

.cat-name {
    padding: 0.1em 0.5em;
    text-align: center;
    font-size: clamp(0.7rem, 1.5vw, 1.5rem);
    margin: 2px;
}