.bar{
    background-color: #91450D;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    height: 5em;
}

.logo{
    width: 5rem;
    color: #FFF1E8;
}

.text-link{
    color: #FFF1E8;
}
.text-link.on-hover{
    color: #ffc847;
}