.demo {
    padding: 1rem;
    /* margin: 2em; */
    border: 1px solid #e2e2e2;
    border-radius: 12px;
    background-color: #fff;
    margin-bottom: 0.1rem;
    transition: box-shadow 0.2s ease-in-out;
    width: 100%;
    text-decoration: none;
}

.demo:hover {
    box-shadow: 0 4px 12px rgba(233, 233, 233, 0.1);
    cursor: pointer;
}

.demo-header {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-bottom: 0.5rem;
}

.demo-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.demo-meta {
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    color: #555;
}

.demo-author {
    font-weight: 600;
    padding: 1%;
}

.middle-dot {
    margin: 0 0.5rem;
}

.demo-title {
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0.25rem 0;
    display: flex;
    text-decoration: none;
    flex-direction: start;
    text-decoration: none;
}

.demo-excerpt {
    font-size: 0.95rem;
    color: #444;
    line-height: 1.4;
    margin-bottom: 0.5rem;
    text-decoration: none;
    display: flex;
    flex-direction: start;
    text-decoration: none;
}

.demo-stats {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    font-size: 0.9rem;
    color: #666;
}

.stat-item i {
    margin-right: 0.3rem;
}

.category-badge {
    font-size: 0.8rem;
    padding: 0.2rem 0.5rem;
    border: 1px solid #f5d3d3;
    border-radius: 12px;
    background-color: rgb(249, 236, 236);
}

.bage{
    margin: 1rem 0;
    display: flex;
    gap: .5rem; 
    align-items: center;
}